* {
  box-sizing: border-box;
  font-family: 'Roboto Mono', monospace;
}

.unselectable {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Chrome/Safari/Opera */
  -khtml-user-select: none; /* Konqueror */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  not supported by any browser */
}

.mainSpace {
  position: relative;
  background: rgb(63, 94, 251);
  background: -moz-radial-gradient(
    circle,
    rgba(63, 94, 251, 1) 0%,
    rgba(227, 30, 157, 1) 100%
  );
  background: -webkit-radial-gradient(
    circle,
    rgba(63, 94, 251, 1) 0%,
    rgba(227, 30, 157, 1) 100%
  );
  background: radial-gradient(
    circle,
    rgba(63, 94, 251, 1) 0%,
    rgba(227, 30, 157, 1) 100%
  );
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  max-height: fit-content;
}

.wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  padding-bottom: 40px;
}

.btn-wrapper {
  padding-top: 50px;
}
.actionBtn {
  background-color: #33f6ff;
  border: solid black 1px;
  font-weight: 700;
  font-size: 18px;
  padding: 12px 20px;
  border-radius: 17px;
}

.newPar {
  font-family: 'Roboto Mono', monospace;
  color: #000;
  font-size: 18px;
  line-height: 24px;
}

.red-color {
  color: red;
}
